<p>
	<form action="/vote/<%=ques.id%>?value=1" method="post" id='upvote-button'>
		<% if (vote = current_user.has_voted(ques)) && vote.status == 1 %>
	  		<input type="submit" value="Upvoted (<%= ques.upvote_count %>)">
	  	<% else %>
	  		<input type="submit" value="Upvote (<%= ques.upvote_count %>)">
	  	<% end %>
	</form>
</p>
<p>
	<form action="/vote/<%=ques.id%>?value=-1" method="post" id='downvote-button'>
  		<% if (vote = current_user.has_voted(ques)) && vote.status == -1 %>
	  		<input type="submit" value="Downvoted (<%= ques.downvote_count %>)">
	  	<% else %>
	  		<input type="submit" value="Downvote (<%= ques.downvote_count %>)">
	  	<% end %>
	</form>
</p>